name: Auto Ready to Review
on:
  pull_request:
    types: [edited]
jobs:
  set-ready-to-review-if-possible:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
      pull-requests: write
    if: ( github.base_ref == 'main' || startsWith(github.base_ref, 'feat/') || startsWith(github.base_ref, 'feature/') ) &&
        github.event.pull_request.draft &&
        github.event.changes.base.ref.from != github.base_ref
    steps:
      - run: gh pr ready $PULL_REQUEST_NUMBER -R $REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
          REPOSITORY: ${{ github.repository }}
