name: Auto Ready to Review
on:
  pull_request:
    types: [edited]
jobs:
  set-ready-to-review-if-possible:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
      pull-requests: write
    if: github.base_ref == 'main' &&
        contains(github.event.pull_request.labels.*.name, 'auto ready to review') &&
        github.event.pull_request.draft &&
        github.event.changes.base.ref.from != 'main'
    steps:
      - run: gh pr edit --remove-label 'auto ready to review' $PULL_REQUEST_NUMBER  -R $REPOSITORY && gh pr ready $PULL_REQUEST_NUMBER -R $REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
          REPOSITORY: ${{ github.repository }}
