name: Auto Ready to Review
on:
  pull_request:
    types: [edited]
jobs:
  set-ready-to-review-if-possible:
    runs-on: ubuntu-latest
    if: github.base_ref == 'main' &&
        contains(github.event.pull_request.labels.*.name, 'auto ready to review') &&
        github.event.pull_request.draft
    steps:
      - run: echo ${{ github.event.changes.base }}
      - run: echo ${{ github.event.sender }}
